.formContainer {
    box-shadow: 0 0 3px 1px var(--dark-color);
    border-radius: 5px;
    max-width: 500px;
    margin: 30px auto;
    padding: 10px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(5px);
}


.title {
    text-align: center;
    font-size: 40px;
    color:var(--dark-color);
}

.form {

    padding: 20px 20px 30px 20px;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color:var(--dark-color);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formInputContainer {
    flex: 1 1 auto;
}

small {
    margin: 3px 0 0 3px;
    font-weight: 400;
    color: rgb(182, 29, 29);
    display: block;
}

.formInput {
    width: 100%;
    font-size: 16px;
    padding: 10px 5px;
    color: var(--dark-color);
    font-family: Poppins, sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.733) solid;

    transition: 0.2s all ease;
}

.formInput::placeholder {
    color: #b4b4b4;
}

.formInput:focus {
    color: var(--dark-color);
    background-color: transparent;
    outline: 0;
    border-bottom: 1px transparent solid;
    box-shadow: 0 0 5px 2px var(--dark-color);
  }

.formInputCheckbox {
    margin-right: 10px;
}

.formInputCheckbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 7px;
    background-color: transparent;
    border-radius:50%;
    border: 1px solid var(--light-color);
    margin-bottom: -2px;

    position: relative;
}
.formInputCheckbox:checked {
    background-color: var(--light-color);
    border: 1px solid var(--light-color);
}
.formInputCheckbox:checked:before {
    position: absolute;
    top: 2px;
    left: 2px;
    content:"";
    background-image: url(./../../img/check-solid.svg);
    width: 10px;
    height: 11px;
}

.formInputCheckboxLabel {
    font-weight: 500;
}

.checkboxLink {
    color: inherit;
}

.submitBtn {
    padding: 10px 5px;

    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    font-size:  inherit;
    font-family: inherit;
    color: var(--light-color);
    font-weight: inherit;

    transition: all 0.2s ease;
}

.submitBtn:hover {
    cursor: pointer;
    background-color: var(--light-color);
    border: 2px solid var(--light-color);
    color: var(--dark-color);
}

.passwCont {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.eyes {
    background-color: transparent;
    border: none;
    position: absolute;
    color: black;
    top: 11px;
    left: 93%;
}

.eyes svg {
    width: 25px;
    height: 25px;
    color: #fff;
}